html{
	scroll-behavior:smooth;
}

.subtitulo{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin:4% 0 0 7%;
}

.beneficios{
    background: #00D16B;
    padding: 40px;  
    width: 1310px;
    height: 600px;
}

.subtituloproduto{
    font-weight: bold;
    font-size: 25px;
    margin:3% 19% 0 0;
    font-family: 'Nunito Sans', sans-serif; 
    text-transform: uppercase;
}
.produtos2{
    height: 50%;
    width: 40%;
    
}

.textoproduto{
   
   
    font-weight: 100;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    width: 35%;
    margin-right: 15%;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;

}
