@font-face {
    font-family: fontfamily;
    src: url("'https://fonts.google.com/specimen/css2? family = Righteous + Display: wght @ 400; 523; 900 & display = swap") format('opentype');
  }
html{
	scroll-behavior:smooth;
}
.cabecalho{
	background:linear-gradient(to left, #e91e63,#00d16b);
	height: 52px;
}

.imgcabecalho{
    width: 10%;
    height: 10%;
}

.caixa{
    float: right;
    padding: 15px;
	width: 940px;
    text-align: right;
}

nav a {
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Righteous', cursive;
    
}

nav a:hover{
    background-color: #f5adc5 ;
    color: black;
}
