@font-face {
    font-family: fontfamily;
    src: url("'https://fonts.google.com/specimen/css2? family = Righteous + Display: wght @ 400; 523; 900 & display = swap") format('opentype');
  }
html{
	scroll-behavior:smooth;
}
.cabecalho{
    
	background:linear-gradient(to left, black,#e91e63,#00d16b, black);
	height: 58px;
}

.NomeEmpresa {
   background-color: black;
   height: 40px;
}

.NomeEmpresa h3{
    color:#ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.imgcabecalho{
    width: 10%;
    height: 10%;
}

.caixa{
    float: right;
    padding: 20px;
	width: 940px;
    text-align: right;
}

nav a {
    padding: 17px;
    padding-bottom: 19px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:  montserrat;
    
}

nav a:hover{
    padding: 17px;
    padding-bottom: 19px;
    text-decoration: none;
    font-size: 15px;
    font-family:  montserrat;
    background-color: #f5adc5 ;
    background-size: auto;
    color: black;
}
