*{margin:0; border:0;}
.paginaCatalogo{
    display: inline-flex;
    background: #00D16B;
    font-family: montserrat;
    width: 1310px;
    height: 600px;
}
.catalogoMenu{
    
    background: #ffff;
    
    margin: 120px 0 0 220px;
    width: 900px;
    height: 480px;
}

.menuProdutos{
    background: black;
    height:60px;
}

#bannerCatalogo{
    width: 1310px;
    height: 70px;
}
.menuProdutos nav a{
    display: flex;
    float: right;
    padding-right: 100px;
    width: 12px;
    height:12px;
}
.tituloCatalogo{
    font-size: 25px;
    padding-left: 300px;
    
}
.catalogo1{
    display: flex;
    width: 450px;
    height: 220px;
}

.catalogo2{
    display: flex;
}

.botaoAcesso{
     margin-left: -225px; 
     margin-top: 170px;
}

.textoBotao{
    width: 120px;
    
}
#imgCatalogo1{
    width: 170px;
    height: 170px;
}

#imgCatalogo{
    width: 235px;
    height: 185px;
}