@font-face {
    font-family: fontfamily;
    src: url("https://fonts.googleapis.com/css2? family = Playfair + Display: wght @ 400; 523; 900 & display = swap") format('opentype');
}

.cadastro{
    padding:10px 2px 7px 15px;
    font-size: 21px;
    font-family:'Poppins', sans-serif;
    color: antiquewhite;   
}

#form{
    display: block;   
}

.frase-cadastro{
    font-size: 20px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color:antiquewhite;
    
}

.rodape{
    width: 100%;
    height:1.5;
    font-family: montserrat;
    background: #24262b;
    padding: 20px 21px 69px;
}

.text-center {
    text-align: center!important;
}

.fa-4x {
    font-size: 4em;
    color: antiquewhite;
    margin-top: 5px;
}

.btn {
    border-radius: 30px;
    font-family: montserrat;
    font-weight: 500;
    height: 45px;
    background-color: antiquewhite;
}

.btn:hover{
   cursor: pointer;
   transform: scale(1.2);
}

.btn {
    display: inline-block;
    color: black;
    border: 3px solid transparent;
    margin: 14px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    width: 185px;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width:1538px;
    margin: auto;
    padding: 0px 4px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0 2px 158px;
}

ul{
    list-style: none;
    margin: revert
}

.footer-col{
    padding: 15px 47px 4px 36px;
}

.footer-col h4 {
    font-size:22px;
    color: #f3dee5;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63 ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 20px;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #d7d2d4;
    display: block ;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #666668f6;
    padding-left: 4px;
}

.footer-col .redes-sociais a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 11px 10px 0;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.6s ease;
    font-size: 1.6em;
}

.footer-col > nav a{
 padding: 4px 3px 0px 3px;
}

.footer-col .redes-sociais a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.copyright{
    width: 100%;
    background-color: #e91e63 ;
    height: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: -30px;
    font-weight: 450;
}

div > p {
    padding-top: 15px;
}

@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}

.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
     
   cursor: pointer;
   align-items: center;
   justify-content: center;
   margin: 0 3em 3em 0;
   border-radius: 50%;
   padding: .25em;
   width: 80px;
   height: 80px;
   background-color: rgba(255, 255, 255, 0.63);
}   

svg {
    fill:black;
    width: 24px;
    height: 12px;
}
