
.conteudo-principal{

	display: inline-flex;
    background: #00D16B;
    padding: 40px;
    width: 1310px;
    margin: 0;
  
}
.principal{
	width: 940px;
	position: relative;
	margin: 0 auto;
	font-family: montserrat;
}

.titulo-pricipal{
	font-family: montserrat;
	font-size: 60px;
	color: #262626;
}
.navegaçao{
	background: #262626;	
	padding: 5px 10px;
	margin-top: 15px;
	border: 20px palevioletred;
}
.faq-navegaçao{
		margin: 20px
}
.faq-navegaçao ul{
	list-style-type: disc ;
	color: white;
}
.links-faq{
	display: block;
	padding: 9px;
	font-family:monserrat;
	font-size: 22px;
	scroll-behavior: auto;
}
.links-faq:hover{
		text-decoration: bold;
}
.pergunta{
	margin: 37px 0;
	color: white;
	display: none;
}
.pergunta:target{
	display: inline-block;
	scroll-margin-top: 200px;
}
.perguntas{
	font-size: 32px;
}

div p{
	font-size: 21px;
}