*{
    margin: 0;
    padding: 0;
}

.bg{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,.8);
    position: fixed;
    display: none;
}

.bg:target{
    display: block;
}
.bg:target~ .box{
    top: 330px;
    transition: all .3s;
    transition-delay: .2s;
}
.box{
    background-color: white;
    color: black;
    width: 750px;
    height: 405px;
    position: absolute;
    margin: 450px 0  0 -360px ;
    left: 50%;
    top: -410px;
    
}

.box img{
    width: 55%;
    position: absolute;
    height: 300px;
    margin-left: 100px;
}
#close{
    color: white;
    font-family: monsterrat;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    background-color: rgb(192, 11, 11);
    width: 40px;
    height: 40px;
    text-align: center;
    right: 0;
}