@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');


.banner{
    display: absolute;
    
    height: 560px;
    
}


.texto {
    position: absolute;
    color:#fff;
    text-align:justify;
    top: 80px;
    width: 70%;
    line-height: 30px;
    height: 20px;
    margin: 9% 0 0 5%;
    font-family: 'Lato', sans-serif;
}

.titulo-principal{

    font-size: 50px;
    text-shadow: -0.2vw -0.2vw -0.2vw rgb(0, 0, 0), 0 0 3vw #ffff;
    text-shadow: 0.2vw 0.2vw 0.2vw rgb(0, 0, 0), 0 0 3vw #ffff; 
    
}


.conteudo-principal{
    font-family:  sans-serif;
    font-size:20px;
    margin:3% 0 0 0%;
}
