*{margin:0; padding: 0; box-sizing: border-box;}

.apresentacao{
background: black;
 width:100vw;
 padding: 20px;
}
.criadores{
    display: flex;
    
}

.integrante{
    
    width: 30%;
    height: 400px;

}
.foto{
    width: 100%;
    height: 100%;
    
}
