
.subtitulo{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin:4% 0 0 7%;
}

.beneficios{
    
    padding: 40px;  
    background: rgb(253, 253, 253);
    width: 1235px;
    height: 600px;
}

.subtituloproduto{
    font-weight: bold;
    font-size: 25px;
    margin:3% 19% 0 0;
    font-family: 'Nunito Sans', sans-serif; 
    text-transform: uppercase;
}
.produtos2{
    height: 40%;
    width: 40%;
    
}

.textoproduto{
   
   
    font-weight: 100;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    width: 35%;
    margin-right: 15%;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;

}
