.cabecalho{
	background:#030303;
	height: 52px;
}

.caixa{
	width: 940px;
    text-align: right;
}

nav a {
    
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    
}
