.cabecalho{
	background:linear-gradient(to right,#F20544,#470718);
	height: 52px;
}

.caixa{
    margin: 0 auto;
	width: 940px;
    text-align: right;
}

nav a {
    
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    
}
