*{ margin: 0; padding:0; box-sizing: border-box; }

#corpo-produtos{
    display: flex;
    place-items: center;
    height:100vh;
}
.carrossel-produtos{
    box-shadow: 2px 2px 4px white;
    overflow:hidden;
    height: 500 px;
    width:500 px;
 }
 .box-produto{
     width:40%;
     height:70%;
 }
 .produtos-principais{
     display:flex;

     overflow-x:auto;
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;
     scroll-behavior: smooth;
 }
 .item{
     flex:none;

     width:50%;
     height:400px;

     scroll-snap-align: start;
     padding-left: 400px ;

     pointer-events: none;
 }
 img {
   width:100%;
   height:100%;
   
   object-fit: cover;
 }

 
