@import url("https://fonts.googleapis.com/css2? family = Playfair + Display: wght @ 400; 523; 900 & display = swap");

.cadastro{
    padding: 15px;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: antiquewhite;   
}

form{
    display: block;
}

.frase-cadastro{
    font-size: 19px;
    padding: 5px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    color:antiquewhite;
    
}

.rodape{
    height:1.5;
    font-family: "Playfair Display", serif;
    background:linear-gradient(38deg,#24262b, rgb(3, 39, 53), rgb(204, 187, 187));
    padding: 20px 21px 69px;

}

.text-center {
    text-align: center!important;
}

.fa-4x {
    font-size: 4em;
    color: antiquewhite;
}

.btn {
    border-radius: 30px;
    font-family: HelveticaNeue;
    height: 45px;
    text-transform: initial;
    background-color: antiquewhite;
}

.btn:hover{
   cursor: pointer;
    transform: scale(1.2);
    
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 3px solid transparent;
    margin: 9px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 255px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin:auto;
    padding: 40px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    margin: revert
}




