@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensado & display = trocar');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#conteudo-principal {
    background-image: url("banner.jpg");
    display: flex;
}
.fundo {
     background-color: #00D16B; 
     font-family: 'Roboto Condensed', sans-serif;
     color:#fff
}

.container {
     width: 100%;
     height: 100vh;
     border: 10px  solid #E91E63;

     display: flex;
     justify-content: center;
     align-items: center;
}

.team  {
      width: 960px;
}

.team-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 3rem;
}

.team-title:after {
    content:"";
    padding: 2px;
    background-color: #E91E63;
    display: flex;
    margin: 0 auto;
    width: 20%;
    margin-top: 1rem;
}


.team-list {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.team-list li {
    list-style-type: none;
}

.team-figure {
    width: 160px;
    height: 160px;

    border-radius: 50%;
    overflow: hidden;
}

.team-figure img {
    width: 100%;
    filter: grayscale(100%);
}

.team-link:hover .team-figure img {
    filter: none;
}

.team-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.team-description:target {
    display: flex;
}

.team-name {
    text-transform: uppercase;
    font-size: 20px;
}

.team-name:after {
    content:"";
    padding: 2px;
    background-color: #E91E63;
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-top: 1rem;
}

.team-description-user {
    margin-top: 3rem;
    font-size: 30px;
}